*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background:#eef4ff;
    color:#333;
}

a{
    text-decoration:none;
}

button{
    cursor:pointer;
    transition:.3s;
}

input{
    outline:none;
}

::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:#0d6efd;
    border-radius:10px;
}