/* =====================================
   NAVBAR
===================================== */


.navbar{
    position: fixed;
    top: 0;
    left: 270px;
    width: calc(100% - 270px);
    height: 75px;
    background: white !important;
    box-shadow: 0 5px 20px rgba(0,0,0,.08);
    z-index: 1200;
}



/* TOOLBAR */

.navbar-toolbar{
    height:75px;
    min-height:75px!important;
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:20px;
    padding:0 25px!important;
}



/* SEARCH */






.navbar-search .MuiTextField-root{


    width:450px;


}



.navbar-search .MuiOutlinedInput-root{


    height:45px;


    border-radius:30px;


    background:#f4f7fc;


}


.navbar-search fieldset{


    border:none;


}



/* RIGHT SIDE */






.navbar-icon{


    width:42px!important;


    height:42px!important;


    background:#f4f7fc!important;


}



.navbar-profile{


    display:flex;


    align-items:center;


    gap:10px;


    cursor:pointer;


}



.navbar-name{


    font-weight:700!important;


}



.navbar-role{


    font-size:12px!important;


    color:#777!important;


}




@media(max-width:700px){


.navbar-search{


    display:none;


}


}