/* =====================================
   NAVBAR
===================================== */


.navbar{


    


    background:white!important;

left:270px !important;

width:calc(100% - 270px) !important;
    box-shadow:
    0 5px 20px rgba(0,0,0,.08)!important;


    z-index:1000!important;


}



/* TOOLBAR */


.navbar-toolbar{


    height:75px;


    min-height:75px!important;


    padding:0 30px!important;


    display:flex;


    align-items:center;


    justify-content:space-between;


}



/* SEARCH */


.navbar-search{


    flex:1;


    display:flex;


    justify-content:center;


}



.navbar-search .MuiTextField-root{


    width:450px;


}



.navbar-search .MuiOutlinedInput-root{


    height:45px;


    border-radius:30px;


    background:#f4f7fc;


}


.navbar-search fieldset{


    border:none;


}



/* RIGHT SIDE */


.navbar-right{


    display:flex;


    align-items:center;


    gap:15px;


}



.navbar-icon{


    width:42px!important;


    height:42px!important;


    background:#f4f7fc!important;


}



.navbar-profile{


    display:flex;


    align-items:center;


    gap:10px;


    cursor:pointer;


}



.navbar-name{


    font-weight:700!important;


}



.navbar-role{


    font-size:12px!important;


    color:#777!important;


}




@media(max-width:700px){


.navbar-search{


    display:none;


}


}