.sidebar{

    position:fixed;

    top:0;

    left:0;

    width:270px;

    height:100vh;

    background:linear-gradient(
        180deg,
        #1976D2,
        #0288D1
    );

    z-index:1200;

}