@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body,
#root{
    width:100%;
    height:auto;
    min-height:100vh;
}

html{
    overflow-y:scroll;
}

body{
    overflow-y:scroll !important;
    overflow-x:hidden;
}

html{

    scroll-behavior:smooth;

}

body{

    font-family:"Inter",sans-serif;

    background:#F8FAFC;

    color:#0F172A;

    overflow-x:hidden;

    overflow-y:auto;

}

a{

    text-decoration:none;

    color:inherit;

}

img{

    display:block;

    max-width:100%;

}

::-webkit-scrollbar{

    width:10px;

}

::-webkit-scrollbar-thumb{

    background:#1976D2;

    border-radius:20px;

}

::-webkit-scrollbar-track{

    background:#E5E7EB;

}
html,
body,
#root {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto !important;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}